<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Gestión de Citas Médicas</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>Menú</h2>
            <ul>
                <li><a href="#" class="menu-item">Administrador</a>
                    <ul class="submenu">
                        <li><a href="#" onclick="loadUsuarios()">Listar Usuarios</a></li>
                        <li><a href="#" onclick="loadPacientes()">Listar Pacientes</a></li>
                        <li><a href="#" onclick="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="main-content">
            <h1>Bienvenido a la Gestión de Citas Médicas</h1>
            
            <div id="content">
                <!-- contenido -->


            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function loadMenu() {
            $('#content').html('<h1>ADMIN</h1>');
        }
        
        function loadUsuarios() {
            $.get('/usuarios/lista_de_usuarios', function (data) {
                $('#content').html(data);
            });
        }
        function loadPacientes() {
            $.get('/citas/listar-pacientes', function (data) {
                $('#content').html(data);
            });
        }

        function logout() {
            window.location.href = '/';
        }

        $(document).ready(function () {
            $('.menu-item').click(function (e) {
                e.preventDefault();
                var $submenu = $(this).next('.submenu');
                $('.submenu').not($submenu).slideUp();
                $submenu.slideToggle();
            });
        });
    </script>
</body>
</html>