<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Usuarios</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Listado de Usuarios</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Contraseña</th>
                <th>Tipo</th>
                <th>Creado En</th>
                <th>Modificado En</th>
                <th colspan="2">Accion</th>

            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.id}"></td>
                <td th:text="${usuario.nombre}"></td>
                <td th:text="${usuario.correo}"></td>
                <td th:text="${usuario.contraseña}"></td>
                <td th:text="${usuario.tipo}"></td>
                <td th:text="${usuario.creadoEn}"></td>
                <td th:text="${usuario.modificadoEn}"></td>
                <td >edit</td>
                <td >delete</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
