<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Listado de Citas</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/styleAgenda.css">
</head>

<body>
    <!--agenda del dia-->
    <h1>Agenda de hoy</h1>
    <table class="agenda-table">
        <thead>
            <tr>
                <th colspan="3">HORARIO</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cita, row : ${citas}"
                th:if="${#temporals.format(cita.fechaHora.plusHours(4), 'yyyy-MM-dd') == #temporals.format(#temporals.createNow().plusHours(4), 'yyyy-MM-dd')}">
                <td th:text="${#temporals.format(cita.fechaHora.plusHours(4), 'HH:mm')}"></td>
                <td th:text="${cita.pacienteNombre}"></td>
                <td class="boton"><button onclick="cancelarCita(this)">Cancelar</button></td>
            </tr>
        </tbody>
    </table>
    <!--lista de citas-->
    <h1>Listado de Citas</h1>
    <table class="citas-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha y Hora</th>
                <th>Nombre del Paciente</th>
                <th>Motivo</th>
                <th>Observaciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iterar sobre la lista de citas y mostrar cada una -->
            <!-- Utiliza Thymeleaf para iterar sobre la lista de citas -->
            <tr th:each="cita : ${citas}">
                <td th:text="${cita.id}"></td>
                <td th:text="${#temporals.format(cita.fechaHora.plusHours(4), 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${cita.pacienteNombre}"></td>
                <td th:text="${cita.motivo}"></td>
                <td th:text="${cita.observaciones}"></td>
            </tr>
        </tbody>
    </table>

    <script>
        function cancelarCita(button) {
            // Obtener la fila padre del botón (fila de la cita)
            const row = button.closest('tr');
            // Cambiar el texto del botón a 'Listo'
            button.textContent = 'Listo';
            // Cambiar la clase del botón para el nuevo estilo
            button.classList.add('listo-button');
            // Deshabilitar el botón
            button.disabled = true;
        }
    </script>
</body>

</html>