<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Gestión de Citas Médicas</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>Menú</h2>
            <ul>
                <li><a href="#" class="menu-item">Médicos</a>
                    <ul class="submenu">
                        <li><a href="#" onclick="loadPacientes()">Listar Pacientes</a></li>
                        <li><a href="#" onclick="llamarPaciente()">Llamar Paciente</a></li>
                        <li><a href="#" onclick="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="main-content">
            <h1 id="titulo">Bienvenido, <span id="nombreMedico"></span></h1>
            
            <div id="content">
                <!-- Formulario de login -->
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

        // Obtener el valor del parámetro "nombreMedico" de la URL
        const urlParams = new URLSearchParams(window.location.search);
        const nombreMedico = urlParams.get('nombreMedico');

        // Mostrar el nombre del médico en el encabezado h1
        document.getElementById('nombreMedico').textContent = `${nombreMedico}`;
   
        function loadPacientes() {
            $.get(`/citas/buscar-por-medico?medicoNombre=${nombreMedico}`, function (data) {
                $('#content').html(data);
            });

            document.getElementById('titulo').innerHTML="";
        }
        function logout() {
            window.location.href = '/';
        }

        $(document).ready(function () {
            $('.menu-item').click(function (e) {
                e.preventDefault();
                var $submenu = $(this).next('.submenu');
                $('.submenu').not($submenu).slideUp();
                $submenu.slideToggle();
            });
        });
    </script>
</body>
</html>